  <h1 class="text-center"> Edit Notice </h1>
  <% if flash.key?(:error) %>
  	<div class = "not_creator_error col-md-6 col-md-offset-3">
  		<p class="alert alert-danger col-md-12 "><%= flash[:error] %></p>
  	</div>
  <% end %>
  <%= render 'form' %>

  <!--<%= link_to 'Back', notices_path %>-->