<h1>Listing customers</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= link_to 'Show', customer , class: "no-decor"%></td>
    <td><%= link_to 'Edit', edit_customer_path(customer) , class: "no-decor"%></td>
    <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } , class: "no-decor"%></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Consumer', new_customer_path , class: "no-decor"%>
