a.notices:link{
	color: white;
}
a.notices:visited{
	color: white;
}
a.notices:hover{
	color: black;
}
a.notices:hover{
	color: black;
}

div.bshare-custom{
	position: relative;
	left: 450px;
	top: 20px;
}